# =============================================================================
# Cities of the Frontier - merfolk rescue
# =============================================================================

#define MERFOLK_RESCUE
	[event]
		name=die
		first_time_only=no
		[filter]
			type=Water Serpent
		[/filter]
		[filter_second]
			side=1
		[/filter_second]
		[filter_condition]
			[variable]
				name=merfolk_rescued
				not_equals=yes
			[/variable]
			[not]
				[have_unit]
					id=merman_leader
					search_recall_list=yes
				[/have_unit]
			[/not]
		[/filter_condition]

		{VARIABLE merfolk_rescued yes}

		[unit]
			side=1
			type=Mermaid Initiate
			x=$x1
			y=$y1
			canrecruit=no
			placement=map
			animate=yes
			role=merman_leader
			id=merman_leader
			[modifications]
				{TRAIT_LOYAL}
			[/modifications]
			{IS_LOYAL}
		[/unit]

		[repeat]
			times={DIFFICULTY_NUM 4 3 2}
			[do]
				[unit]
					side=1
					type=Merman Citizen
					x=$x1
					y=$y1
					canrecruit=no
					placement=map
					animate=yes
				[/unit]
			[/do]
		[/repeat]

		[message]
			speaker=merman_leader
			message=_"Thank you for rescuing us from the sea serpent! Now we can rebuild our homes."
		[/message]
	[/event]

	[set_menu_item]
		id=rebuild_homes
		description=_"Rebuild Merfolk Village"
		[show_if]
			[have_unit]
				type=Merman Citizen
				x=$x1
				y=$y1
			[/have_unit]
		[/show_if]
		[filter_location]
			terrain=W*,A*,S*
			x=$x1
			y=$y1
		[/filter_location]
		[command]
			[terrain]
				terrain="Wwt^Vm"
				x=$x1
				y=$y1
			[/terrain]
			[kill]
				x=$x1
				y=$y1
			[/kill]
		[/command]
	[/set_menu_item]
#enddef
